@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sexsmith";
  src: url("/Sexsmith.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  cursor: none;
}

h1.hero-title {
  font-family: "Sexsmith", serif !important;
}

.navbar-glass {
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 999px;
}
